Repository satyamnathaniotpless/billing-system-l4cqkz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @otpless/core-team, @otpless/backend-team, @otpless/frontend-team, @otpless/devops-team, @otpless/dba-team, @otpless/security-team, @otpless/finance-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/src/main.py
  src/backend/invoice-service/src/main.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/src/api/routes.py
  src/backend/invoice-service/src/api/routes.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/src/core/config.py
  src/backend/invoice-service/src/core/config.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/src/models/invoice.py
  src/backend/invoice-service/src/models/invoice.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/src/services/invoice_generator.py
  src/backend/invoice-service/src/services/invoice_generator.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/src/utils/pdf_generator.py
  src/backend/invoice-service/src/utils/pdf_generator.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/invoice-service/tests/test_invoice_generation.py
  src/backend/invoice-service/tests/test_invoice_generation.py
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/migrations/000001_init_schema.down.sql
  src/backend/shared/migrations/000001_init_schema.down.sql
Owners: @otpless/backend-team, @otpless/dba-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/migrations/000001_init_schema.up.sql
  src/backend/shared/migrations/000001_init_schema.up.sql
Owners: @otpless/backend-team, @otpless/dba-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/migrations/000002_add_wallet_tables.down.sql
  src/backend/shared/migrations/000002_add_wallet_tables.down.sql
Owners: @otpless/backend-team, @otpless/dba-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/migrations/000002_add_wallet_tables.up.sql
  src/backend/shared/migrations/000002_add_wallet_tables.up.sql
Owners: @otpless/backend-team, @otpless/dba-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/openapi/billing-api.yaml
  src/backend/shared/openapi/billing-api.yaml
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/openapi/event-api.yaml
  src/backend/shared/openapi/event-api.yaml
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/openapi/invoice-api.yaml
  src/backend/shared/openapi/invoice-api.yaml
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/openapi/wallet-api.yaml
  src/backend/shared/openapi/wallet-api.yaml
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/proto/wallet.proto
  src/backend/shared/proto/wallet.proto
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/scripts/init-kafka.sh
  src/backend/shared/scripts/init-kafka.sh
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/scripts/setup-db.sh
  src/backend/shared/scripts/setup-db.sh
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/shared/scripts/start-services.sh
  src/backend/shared/scripts/start-services.sh
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/Dockerfile
  src/backend/wallet-service/Dockerfile
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/go.mod
  src/backend/wallet-service/go.mod
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/go.sum
  src/backend/wallet-service/go.sum
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/cmd/server/main.go
  src/backend/wallet-service/cmd/server/main.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/api/handlers.go
  src/backend/wallet-service/internal/api/handlers.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/api/middleware.go
  src/backend/wallet-service/internal/api/middleware.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/api/routes.go
  src/backend/wallet-service/internal/api/routes.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/config/config.go
  src/backend/wallet-service/internal/config/config.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/models/wallet.go
  src/backend/wallet-service/internal/models/wallet.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/repository/wallet_repository.go
  src/backend/wallet-service/internal/repository/wallet_repository.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/internal/service/wallet_service.go
  src/backend/wallet-service/internal/service/wallet_service.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/backend/wallet-service/test/wallet_test.go
  src/backend/wallet-service/test/wallet_test.go
Owners: @otpless/core-team

Add public-samples/billing-system-l4cqkz/src/web/.dockerignore
  src/web/.dockerignore
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/.env.development
  src/web/.env.development
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/.env.production
  src/web/.env.production
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/.env.test
  src/web/.env.test
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/.prettierrc
  src/web/.prettierrc
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/Dockerfile
  src/web/Dockerfile
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/README.md
  src/web/README.md
Owners: @otpless/frontend-team

Add public-samples/billing-system-l4cqkz/src/web/index.html
  src/web/index.html
Owners: @otpless/frontend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
*       @otpless/core-team

# Backend service code ownership
src/backend/*    @otpless/backend-team

# Frontend/Web application code ownership
src/web/*    @otpless/frontend-team

# Infrastructure code ownership
infrastructure/*    @otpless/devops-team

# CI/CD workflow ownership
.github/workflows/*    @otpless/devops-team

# Database migrations require both backend and DBA review
src/backend/shared/migrations/*    @otpless/backend-team @otpless/dba-team

# Security-related code requires security team review
src/backend/**/security*.{java,ts,go,py}    @otpless/security-team

# Billing logic requires both backend and finance team review
src/backend/**/billing*.{java,ts,go,py}    @otpless/backend-team @otpless/finance-team
